aiohttp
bcrypt
boto3
cryptography
fastapi
google-api-python-client
google-auth
google-generativeai
huggingface_hub
Jinja2
litellm
motor
numpy
openai
pandas
passlib
pillow
pydantic
pymongo
python-dotenv
python-jose
python-multipart
PyYAML
reportlab
requests
stripe
uvicorn
websockets